body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
  }
  
  header {
    background-color: black;
    padding: 15px;
    border: 3px solid yellow;
    border-radius: 15px;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .logo {
    width: 50px; /* Adjust the size of the logo */
    height: auto;
  }

  main {
    padding: 15px;
    background-color: black;
    color: white;
    border: 3px solid yellow;
    border-radius: 15px;
    margin: 12px;
  }

  button {
    background-color: black;
    color: white;
    border: 2px solid yellow;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  button:hover {
    background-color: yellow;
    color: black;
  }

  
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    padding: 15px;
  }

  form {
    background-color: black;
    color: white;
    border: 3px solid yellow;
    border-radius: 15px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  input {
    padding: 20px;
    border: 2px solid yellow;
    border-radius: 5px;
    background-color: black;
    color: white;
  }

  input[type="submit"] {
    background-color: yellow;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  input[type="submit"]:hover {
    background-color: black;
    color: yellow;
  }

  h2 {
      border: 2px solid yellow;
      border-radius: 5px;
      padding: 25px;
      margin-bottom: 50px;
  }

  footer {
    background-color: black;
    color: white;
    padding: 15px;
    border: 3px solid yellow;
    border-radius: 15px;
    text-align: center;
  }
  
  